{% extends 'text_base.html' %}
{% block content %}
  <div>
    <tr>
        <a href="{% url 'textpage:text_create' %}">글 쓰기</a>
    </tr>
    <table border="1">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if text_list %}
        {% for question in text_list %}
        <tr>
            <td>{{ forloop.revcounter }}</td>
            <td>
                <a href="{% url 'textpage:detail' question.id %}">{{ question.subject }}</a>
            </td>
            <td>
                {{ question.create_date.year }}년
                {{ question.create_date.month }}월
                {{ question.create_date.day }}일
                 {{ question.create_date.hour }}시
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
  </div>
{% endblock %}