{% extends 'text_base' %}
{% block content %}
  <a href="{% url 'website:text_create' %}">
    질문 등록하기
  </a>
  {% if text_list %}
    <ul>
      {% for Text in text_list %}
        <li><a href="{% url 'website:detail' Text.id %}">{{ Text.subject }}</a> - {{ Text.create_date.year }}년 
                                                                                  {{ Text.create_date.month }}월
                                                                                  {{ Text.create_date.day }}일</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>등록된 글이 없습니다</p>
  {% endif %}
{% endblock %}