{% extends 'text_base.html' %}
{% block content %}
  <p><h1>제목 - {{ text.subject }}</h1></p>
  <h3>
    작성 날짜 - {{ question.create_date.year }}년
                {{ question.create_date.month }}월
                {{ question.create_date.day }}일
                 {{ question.create_date.hour }}시
                 {{ question.create_date.minute }}분
    </h3>
  
  <div>
    {{ text.content }}
  </div>

  <h5>{{ text.comment_set.count }}개의 답변이 있습니다.</h5>
  <div>
    <ul>
      {% for Text in text.comment_set.all %}
        <li>{{ Text.content }}</li>
      {% endfor %}
    </ul>
  </div>

  <form action="{% url 'textpage:comment_create' text.id %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="댓글 등록">
  </form>
{% endblock %}