<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>경북과고 DC</title>
  </head>

  <header>
    <div id="logo">
      <a href="https://kbsc-dc.run.goorm.app"><h1>경북과고 DC</h1></a>
    </div>
    <nav>
      <li><a href="https://kbsc-dc.run.goorm.app/textpage">글 지랄</a></li>
      <li><a href="https://kbsc-dc.run.goorm.app/QnA">문의사항</a></li>
      <li><a href="https://kbsc-dc.run.goorm.app/admin">관리자</a></li>
    </nav>
  </header>

  <body>
    <a href="{% url 'website:text_create' %}">
      질문 등록하기
    </a>
    ----------------------------------------------------------------------------------------------------
    {% if text_list %}
      <ul>
        {% for Text in text_list %}
          <li><a href="{% url 'website:detail' Text.id %}">{{ Text.subject }}</a> - {{ Text.create_date.year }}년 
                                                                                    {{ Text.create_date.month }}월
                                                                                    {{ Text.create_date.day }}일</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>등록된 글이 없습니다</p>
    {% endif %}
  </body>
</html>