{% extends 'text_base.html' %}
{% block content %}
  <h2 class="border-bottom py-2">{{ text.subject }}</h2>
  <div class="container my-3">
    <div class="card my-3">
      <div class="card-body">
        <div class="card-text" style="white-space: pre-line;">
          {{ text.content }}
        </div>
        <div class="d-flex justify-content-end">
          <div class="badge bg-secondary">
            {{ text.create_date }}
          </div>
        </div>
        <div class="my-3">
          <a href="{% url 'textpage:text_goodvote' text.id %}" class="btn btn-sm btn-outline-secondary">
            추천
            <span class="badge rounded-pill bg-warning">{{text.goodvote.count}}</span>
          </a>
          <a href="{% url 'textpage:text_badvote' text.id %}" class="btn btn-sm btn-outline-secondary">
            비추천
            <span class="badge rounded-pill bg-warning">{{text.badvote.count}}</span>
          </a>
        </div>
      </div>
    </div>
    <h5 class="border-bottom my-3 py-2">
      {{ text.comment_set.count }}개의 답변이 있습니다.
    </h5>
    {% for Text in text.comment_set.all %}
    <div class="card my-3">
      <div class="card-body">
        <div class="card-text" style="white-space: pre-line;">
          {{ Text.content }}
        </div>
        <div class="d-flex justify-content-end">
          <div class="badge bg-secondary">
            {{ Text.create_date }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <h5 class="border-bottom">댓글 작성</h5>
    <form action="{% url 'textpage:comment_create' text.id %}" method="post" class="my-3">
      {% csrf_token %}
      <!-- 오류표시 Start -->
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
          {% for field in form %}
          {% if field.errors %}
          <div>
              <strong>{{ field.label }}</strong>
              {{ field.errors }}
          </div>
          {% endif %}
          {% endfor %}
      </div>
      {% endif %}
      <!-- 오류표시 End -->
      <div class="form-group">
        <textarea {% if not user.is_authenticated %}disabled{% endif %}
              name="content" id="content" class="form-control" rows="10"></textarea>
      </div>
      <h1>  </h1>
      <input {% if not user.is_authenticated %}disabled{% endif %} type="submit" class="btn btn-outline-dark" value="댓글 등록">
    </form>
  </div>
{% endblock %}