{% extends 'text_base.html' %}
{% block content %}
  <div>
    <p></p>
    <p><a class="btn btn-outline-dark" href="{% url 'qna:qna_create' %}" role="button">글 작성</a></p>
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if text_list %}
        {% for question in text_list %}
        <tr>
            <td>{{ forloop.revcounter }}</td>
            <td>
                {{ question.subject }}
            </td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
  </div>
{% endblock %}