{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  inital-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>경북과고 DC</title>
  </head>

  <body>
    <header>
      <table>

      </table>
        <a href="https://kbsc-dc.run.goorm.app" id="logo"><h1>경북과고 DC</h1></a>
        <nav id="topmenu">
          <li><a href="https://kbsc-dc.run.goorm.app/textpage">글 지랄</a></li>
          <li><a href="#">문의하기</a></li>
        </nav>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <nav id="bottommenu">
        <li><a href="#">사이트 소개</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">그 외 잡것들</a></li>
      </nav>
    </footer>
  </body>
</html>