{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,  inital-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>경북과고 DC</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand bg-blue-200">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'mainpage:index' %}">
            <h4>
              <img src="{% static 'image.svg' %}" alt="Logo" width="60" height="60" class="d-inline-block align-text-center">
              경북과고 DC
            </h4>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'textpage:index' %}">글 지랄</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'qna:index' %}">문의사항</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">로그인</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>

    <footer>
      <nav id="bottommenu">
        <a href="#">사이트 소개</a>
          <a href="#">개인정보처리방침</a>
          <a href="#">그 외 잡것들</a>
      </nav>
    </footer>
  </body>
</html>