{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  inital-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>경북과고 DC</title>
  </head>

  <body>
    <header>
      <nav>
        <table>
          <tr>
            <td><a href="https://kbsc-dc.run.goorm.app" id="logo"><h1>경북과고 DC</h1></a></td>
            <td style="color : white">ttttttttttt</td>
            <td><a href="https://kbsc-dc.run.goorm.app/textpage">글 지랄</a></td>
            <td style="color : white">t</td>
            <td><a href="#">문의하기</a></td>
          </tr>
        </table>
      </nav>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <nav id="bottommenu">
        <a href="#">사이트 소개</a></li>
          <a href="#">개인정보처리방침</a></li>
          <a href="#">그 외 잡것들</a></li>
      </nav>
    </footer>
  </body>
</html>