<!-- 주석은 이렇게!! -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>TEST 창 입니다!</title>
  </head>

  <body>
    <header>
      <!-- 맨 위 영역-->

      <!-- 링크를 만들려면 <a> 사용 -->
      <!-- <nav>는 그냥 분류 같은거 필요 X -->
      <nav><a href="#">하하</a></nav>
      
      <!-- 목록을 만들려면 <li> 사용 -->
      <nav>
        <li><a href="#">ㄹㅇㅋㅋ</a></li>
        <li><a href="#">ㄹㅇㅋㅋ</a></li>
        <li><a href="#">ㄹㅇㅋㅋ</a></li>
        <li><a href="#">ㄹㅇㅋㅋ</a></li>
      </nav>

      <nav>
        <a href="#">ㄹㅇㅋㅋ</a>
        <a href="#">ㄹㅇㅋㅋ</a>
        <a href="#">ㄹㅇㅋㅋ</a>
        <a href="#">ㄹㅇㅋㅋ</a>
      </nav>
    </header>


    <main>
      <!-- 메인 영역 -->

      <!-- <article>은 <section>과 같은 것들을 묶을 때 쓰는 것 -->
      <article>
        <section>
          <!-- 여기에 독립된 컨텐츠 같은 것을 넣음 블로그 글 같은거...? -->
        </section>
      </article>

      <!-- <div>는 스타일같은 것을 사용하도록 일정 량을 묶는 것이다. -->
      <!-- <div id="logo"> 라던지 <div class="detail"> 처럼 쓴다. -->
      <div>
        <!-- 대충 글씨 크기-->
        <h1>안녕</h1>
        <h2>안녕</h2>
        <h3>안녕</h3>
        <h4>안녕</h4>
        <h5>안녕</h5>

        <p>----------------------------------------------------------------------------------------------------</p>

        <!-- 한줄 띄우기-->
        현콩의 코
        매우 크다

        <p>-----------</p>

        현콩의 코
        <br>매우 크다

        <p>-----------</p>

        <p>현콩의 코</p>
        <p>매우 크다</p>

        <p>----------------------------------------------------------------------------------------------------</p>

        <!-- 인용문...? 이라는데 뭔지는 모르겠고... 그냥 한단락 오른쪽 가능인거 같다.-->
        <blockquote>
          현콩이의 큰 코는 역사적으로 매우 깊고, <br> 많은 사람들이 알아오고 좋아하는 한 가지이다.
        </blockquote>

        <p>----------------------------------------------------------------------------------------------------</p>

        <!-- 글자 효과들 -->
        <p>
          <!-- 화면 낭독기 때문에 있는 것들이다. -->
          <!-- 위는 경고, 아래는 그냥 굵은 글씨이다. -->
          <li><strong>현콩의 코</strong></li>
          <li><b>현콩의 코</b></li>
        </p>

        <P>
          <li>큰<small>(현콩의 코)</small></li>
          <li>큰<sub>(현콩의 코)</sub></li>
          <li>큰<sup>(현콩의 코)</sup></li>
        </P>

        <P>
          <li><s>현콩의 코</s></li>
          <li><u>현콩의 코</u></li>
        </P>
        
        <P>
          <li><abbr title="현콩의 큰 코">현콩의 코</abbr></li>
        </P>
        
        <P>
          <!-- 밑의 두 가지는 공동 작업 문서에서 새로운 것들이나 지워야 할 것들을 나열한 것이다.-->
          <li><ins>현콩의 코</ins></li>
          <li><del>현콩의 코</del></li>
        </P>
        
        <P>
          <!-- <em> <i>의 다른점은 <em> 은 그냥 강조 <i> 은 용어, 관용구 같은 다른거 표시할때 사용 -->
          <!-- <cite>는 웹 문서나 포스트에서 참고 내용을 표시한다... -->
          <!-- 사실 혼용해서 써도 아무도 모를거 같다... ㅋㅋ-->
          <li><em>현콩의 코</em></li>
          <li><i>현콩의 코</i></li>
          <li><cite>현콩의 코</cite></li>
        </P>
        
        <p>----------------------------------------------------------------------------------------------------</p>

        <!-- 목록 관련 -->
        <!-- 순서 있는 목록 -->
        <p><ol type="1">
            <li>현</li>
            <li>콩</li>
            <li>의</li>
            <li>코</li>
          </ol></p>
        <p><ol type="a">
            <li>현</li>
            <li>콩</li>
            <li>의</li>
            <li>코</li>
          </ol></p>
        <p><ol type="A">
            <li>현</li>
            <li>콩</li>
            <li>의</li>
            <li>코</li>
          </ol></p>
        <p><ol type="I">
            <li>현</li>
            <li>콩</li>
            <li>의</li>
            <li>코</li>
          </ol></p>
        <p><ol type="i", start="5">
            <li>현</li>
            <li>콩</li>
            <li>의</li>
            <li>코</li>
          </ol></p>
      </div>

      <table>
        <tr><td>안녕</td></tr>
        <tr><td>반가워</td></tr>
        <tr><td>ㅋㅋ</td></tr>
      </table>
    </main>


    <aside>
      <!-- 사이드 바 역활 -->
    </aside>


    <footer>
      <!-- 하단 부분 영역 -->
    </footer>
  </body>
</html>